*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ELEMENTS COMMUNS */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #242424;
}

/* sous partie class ELEMENTS COMMUNS */
.div_titre_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titre classique ELEMENTS COMMUNS */
.titre_section {
    color: #242424;
    text-transform: uppercase;
    padding: 6.5rem;
    font-size: 2rem;
    font-weight: lighter;
}

.titre_section, .titre_section:before, .titre_section:after {
    display:inline-block;
    vertical-align: middle;
}

.titre_section:before, .titre_section:after {
    margin: 0 3.5rem 0;
    height: 1px;
    width: 125px;
    background: #c7c7c7;
    content: "";
}

/* titre blanc ELEMENTS COMMUNS */
.titre_section_blanc {
    color: #fff;
    text-transform: uppercase;
    padding: 6.5rem;
    font-size: 2rem;
    font-weight: lighter;
}

.titre_section_blanc, .titre_section_blanc:before, .titre_section_blanc:after {
    display:inline-block;
    vertical-align: middle;
}

.titre_section_blanc:before, .titre_section_blanc:after {
    margin: 0 3.5rem 0;
    height: 1px;
    width: 125px;
    background: #c7c7c7;
    content: "";
}

/* background noir ELEMENTS COMMUNS */
.background_noir_main_container {
    background-color: #000;
}

/* HEADER */

.header {
    background-image: url(../images/image_header.jpg);
    background-size: cover;
    height: 100vh;
}

.contenu_header {
    max-width: 75rem;
    margin: 0 auto auto auto;
}

.menu_nav {
    display: flex;
    justify-content: space-between;
}

/* image logo */
.logo_item_gauche {
    margin-top: 1rem;
}

.img_logo_item {
    max-height: 5rem;
}

/* menu liens */
.liste_liens {
    display: flex;
    list-style: none inside;
    margin-top: 1rem;
}

.lien_item {
    margin: 1.5rem 0 0 4rem;
}

.a_lien_item {
    color: #fff;
    text-decoration: none; 
}

.a_lien_item:hover {
    text-decoration: underline;
}

/* petit contenu texte dans le header */
.contenu_header_texte {
    padding: 20rem 0;
    color: #fff;
    font-weight: lighter;
}

.h1_header {
    font-size: 2.7rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.texte_header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.trait_rouge {
    width: 10rem;
    border: 1px solid #da251e;
}

/* MAIN CONTAINER premiere section */

.contenu_main_container {
    max-width: 75rem;
    margin: 0 auto auto auto;
}

/* PREMIERE SECTION */

.premiere_section {
    margin-bottom: 7.5rem;
}

/* sous parties PREMIERE SECTION */

.sous_parties_premiere_section {
    display: flex;
    justify-content: space-between;
}

.sous_partie_famille, .sous_partie_alimentation, .sous_partie_localisation {
    max-width: 24rem;
}

.div_img_sous_partie {
    width: 24rem;
    height: 24rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.fond_img_sous_partie_localisation {
    background-color: #DCDCDC;
}

.img_sous_partie {
    max-height: 24rem;
}

.h3_sous_partie {
    text-transform: uppercase;
    font-weight: lighter;
    color: #242424;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.texte_sous_partie {
    text-align: justify;
    color: #4b4b4b;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.trait_rouge_premiere_section {
    width: 5rem;
    border: 1px solid #da251e;
}

/* DEUXIEME SECTION */

.deuxieme_section {
    display: flex;
    justify-content: space-between;
}

.div_img_deuxieme_section {
    width: 36rem;
    height: 36rem;
    overflow: hidden;
}

.img_deuxieme_section {
    max-height: 36rem;
}

.contenu_deuxieme_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 36rem;
    height: 36rem;
}

/* mise en forme des titres DEUXIEME SECTION */
.titre_deuxieme_section {
    color: #fff;
    text-transform: uppercase;
}

.titre_deuxieme_section, .titre_deuxieme_section:before, .titre_deuxieme_section:after {
    display:inline-block;
    vertical-align: middle;
}

.titre_deuxieme_section:before, .titre_deuxieme_section:after {
    margin: 0 1rem 0;
    height: 1px;
    width: 45px;
    background: #c7c7c7;
    content: "";
}

/* texte DEUXIEME SECTION */

.texte_deuxieme_section {
    text-align: justify;
    font-weight: lighter;
    color: #fff;
}

/* TROISIEME SECTION */

.troisieme_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.5rem;
}

.contenu_troisieme_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_troisieme_section {
    max-width: 6rem;
}

.sous_partie_troisieme_section {
    display: flex;
    align-items: center;
}

.texte_sous_partie_troisieme_section {
    font-size: 1.1rem;
    color: #000;
    margin-left: 1rem;
}

.mot_troisieme_section {
    color: #242424;
    font-style: italic;
}

.div_img_troisieme_section {
    width: 37rem;
    height: 37rem;
    overflow: hidden;
}

.img_troisieme_section {
    max-height: 37rem;
}

/* SECTION GUS */

.section_gus {
    margin-bottom: 7.5rem;
}

.div_intro_section_gus {
    position: relative;
}

.introduction_section_gus {
    max-width: 60rem;
    margin: auto;
    padding: 5rem;
    font-size: 1.5rem;
    font-style: italic;
    text-align: justify;
    color: #4b4b4b;
}

.guillemets_section_gus {
    max-height: 4rem;
}

.guillemets_section_gus_1 {
    position: absolute;
    left: 7%;
    top: 10%;
}

.guillemets_section_gus_2 {
    position: absolute;
    right: 7%;
    bottom: 10%;
}

.sous_section_gus_manger {
    display: flex;
    justify-content: space-between;
}

.div_img_sous_section {
    width: 18rem;
    height: 18rem;
    overflow: hidden;
}

.img_sous_section {
    max-height: 18rem;
}

.texte_presentation_section_manger {
    text-align: justify;
    max-width: 60rem;
    margin: auto;
    padding: 5rem;
    font-size: 1.1rem;
}

.lien_aliments_toxiques {
    color: #da251e;
    text-decoration: none;
}

.lien_aliments_toxiques:hover {
    color: #da251e;
    text-decoration: underline;
}

.lien_aliments_toxiques:active {
    color: #000;
    text-decoration: underline;
}

/* section harnais SECTION GUS */

.sous_section_harnais {
    display: flex;
    justify-content: space-between;
}

.div_img_section_harnais {
    height: 25rem;
    width: 25rem;
    overflow: hidden;
}

.img_section_harnais {
    max-height: 25rem;
}

.contenu_section_harnais {
    background-color: #da251e;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.span_section_harnais {
    text-transform: uppercase;
    font-size: 1.9rem;
    color: #fff;
    margin-bottom: 1rem;
}

.trait_blanc_section_gus {
    width: 5rem;
    border: 1px solid #fff;
    margin-bottom: 3rem;
}

.texte_contenu_section_harnais {
    color: #fff;
    font-weight: lighter;
    font-size: 1.3rem;
}

/* section animaux SECTION GUS */

.section_animaux {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.5rem;
}

.contenu_section_animaux {
    width: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 4rem 4rem 0;
}

.span_section_animaux {
    text-transform: uppercase;
    font-size: 1.9rem;
    color: #fff;
    margin-bottom: 1rem;
}

.texte_contenu_section_animaux {
    color: #fff;
    font-weight: lighter;
    font-size: 1.3rem;
}

.etage_div_images_section_animaux {
    display: flex;
}

.div_image_section_animaux {
    width: 18rem;
    height: 18rem;
    overflow: hidden;
}

.image_section_animaux {
    max-height: 19rem;
}

/* FOOTER */

.footer_page {
    position: relative;
}

/* bandeau noir footer */
.bandeau_noir {
    background-color: #000;
    height: auto;
    width: 100%;
    font-weight: lighter;
}

.contenu_bandeau_noir {
    display: flex;
    max-width: 75rem;
    margin: auto;
    height: auto;
    padding: 1rem 0;
}

.contenu_gauche_bandeau_noir {
    flex-basis: 30%;
}

.contenu_centre_bandeau_noir {
    display: flex;
    align-items: end;
}

.liste_contact {
    list-style: none;
}

.liste_texte_normal {
    color: #fff;
    text-decoration: none;
}

.liste_texte_email {
    color: #fff;
    text-decoration: none;
}

.liste_texte_email:hover {
    color: #fff;
    text-decoration: underline;
}

.liste_texte_rouge {
    color: #da251e;
    text-decoration: none;
}

.liste_texte_rouge:hover {
    color: #fff;
    text-decoration: underline;    
}

.liste_mention_politique {
    display: flex;
    justify-content: center;
    list-style: none;
}

.liste_normal {
    text-decoration: none;
    margin-right: 2rem;
    color: #fff;
    font-size: 1rem;
}

.liste_normal:hover {
    text-decoration: underline;
}

/* bouton footer top */

.btn_top {
    text-decoration: none;
    position: absolute;
    left: 85%;
    bottom: 75%;
    background-color: #da251e;
    color: #fff;
    border: 1rem solid #da251e;
}

.btn_top:hover {
    background-color: #4b4b4b;
    border: 1rem solid #4b4b4b;
}


/* MEDIA QUERIES */

@media screen and (max-width: 50rem) {
    .menu_nav { display: flex; justify-content: space-around; }
    .contenu_header_texte { padding: 10rem 0 0 1rem; }
    .titre_section::before, .titre_section::after { margin: 0 1.5rem 0; height: 1px; width: 60px; background: #c7c7c7; content: ""; }
    .sous_parties_premiere_section { display: inline; }
    .sous_partie_famille, .sous_partie_alimentation, .sous_partie_localisation { margin: auto; }
    .sous_partie_famille, .sous_partie_alimentation { margin-bottom: 4rem; }
    .deuxieme_section { display: inline; }
    .div_img_deuxieme_section { margin: auto; }
    .contenu_deuxieme_section { margin: auto; }
    .troisieme_section { padding: 1rem; }
    .contenu_troisieme_section { flex-basis: 50%; }
    .div_img_troisieme_section { flex-basis: 48%; }
    .guillemets_section_gus_1 { display: none; }
    .div_img_sous_section { width: 13rem; height: 13rem; }
    .img_sous_section { max-height: 13rem; }
    .sous_section_harnais { display: inline; }
    .div_img_section_harnais { margin: auto auto 1rem auto; }
    .contenu_section_harnais { margin: auto; }
    .section_animaux { display: inline; }
    .contenu_section_animaux { margin: auto; padding: 4rem; }
    .etage_div_images_section_animaux { justify-content: center; }
    .div_images_section_animaux { margin-bottom: 4rem; }
    .bandeau_noir { padding: 1rem; }
    .contenu_gauche_bandeau_noir { flex-basis: 35%; }
}

@media screen and (max-width: 30rem) {
    .header { height: auto; }
    .logo_item_gauche { padding: 1rem; }
    .contenu_header_texte { padding: 5rem 0 1rem 1rem; }
    .menu_nav { display: inline; }
    .logo_item_gauche { margin: 0; }
    .liste_liens { display: inline; margin: 0; }
    .lien_item { margin: 1.5rem 0 0 1rem; }
    .titre_section { padding: 4rem 1rem; }
    .titre_section::before, .titre_section:after { margin: 0px .6rem 0; width: 18px; }
    .div_img_deuxieme_section { width: 30rem; height: 30rem; }
    .img_deuxieme_section { max-height: 30rem; }
    .contenu_deuxieme_section { padding: 1rem; width: auto; }
    .titre_deuxieme_section:before, .titre_deuxieme_section:after { margin: 0 0.2rem 0; width: 10px; }
    .troisieme_section { display: inline; }
    .contenu_troisieme_section { margin-bottom: 1rem; }
    .div_img_troisieme_section { margin: auto; width: 28rem; height: 28rem; }
    .img_troisieme_section { max-height: 28rem; }
    .titre_section_blanc { padding: 5.5rem; }
    .titre_section_blanc:before, .titre_section_blanc:after { margin: 0px 1.5rem 0; width: 50px; }
    .div_intro_section_gus { margin-bottom: 1rem; }
    .introduction_section_gus { font-size: 1.3rem; }
    .guillemets_section_gus { right: 10%; bottom: 3%; }
    .sous_section_gus_manger { display: inline; }
    .div_img_sous_section { margin: auto; width: 20rem; height: 20rem; }
    .img_sous_section { max-height: 20rem; }
    .contenu_section_animaux { width: auto; }
    .div_image_section_animaux { width: 15rem; height: 15rem; }
    .image_section_animaux { max-height: 16rem; }
    .contenu_bandeau_noir { display: inline; }
    .contenu_gauche_bandeau_noir { margin-bottom: 1rem; }
}






